.player-row {
  display: flex;
  justify-content: flex-end;
  .money {
    padding: 0 30px;
  }
  div {
    display: flex;
    align-items: baseline;
  }
}

.total-resource {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.button-group {
  margin: 0 10px;
}
