.lobby {
  padding: 0 5vw;
  color: white;
  font-size: 2vh;

  .rcw-launcher,
  .rcw-conversation-container .rcw-header,
  .rcw-client .rcw-message-text {
    background-color: #62161d;
  }
  .rcw-conversation-container.hidden {
    display: none;
  }
  .rcw-message > .rcw-response {
    color: black;
  }

  .header {
    padding: 30px;
    height: 10vh;
  }
  .loader {
    display: block;
    margin: 0 auto;
    border-color: red;
  }

  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    .players {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      width: 100%;
      justify-content: space-evenly;
      .player {
        border-radius: 5px;
        width: 23%;
        padding: 15px;
        background-color: #aa8b548f;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .choose-character-button {
          position: absolute !important;
          bottom: 5%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
        }

        .player-footer {
          margin-top: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          h3 {
            margin-bottom: 0;
          }
          i {
            margin-left: 5px !important;
          }
        }
        div {
          img {
            max-height: 100%;
            max-width: 100%;
          }
        }
      }
    }
    .start-game-button {
      margin-top: 20px;
      max-width: 20%;
    }
  }
}
