.start-menu {
  .App-logo {
    height: 40vmin;
    height: 20vh;
    pointer-events: none;
  }

  .buttons {
    display: flex;
    width: 15%;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .button-start {
    width: 100%;
    margin-bottom: 20px;
  }

  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    h1 {
      font-family: 'LOAFont', Fallback, sans-serif;
      color: black;
      font-size: 6vh;
      font-weight: 500;
    }
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
